

.App {
  text-align: center;
  background-color: coral;
  height: 100vh;
}

.navBarContainer {
  display: flex;
  justify-content: space-around;
  background-color: coral;
  color: white;
  padding: 10px;
  font-size: 2em;
  width: 98%;
  border-radius: 5em;
  top: 0;
}

.cardContainer {
  position:relative;
  left: 10%;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 75%;
  box-shadow: 4em;
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

a:hover {
  animation: rainbow 6s ease-in-out infinite;
}

button:hover {
  animation: rainbow 6s ease-in-out infinite;
}